/* .md-tooltip,.md-tooltip--active{
    background-color: #ccc;
} */
body {
    font-family: 'Times New Roman', 'Simsun';
}

.md-tooltip__inner {
    font-family: 'Times New Roman', 'Simsun';
}

.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: bold;
}

.md-typeset img {
    box-shadow: 3px 3px 7px gray;
}