table {  
  margin-left: auto;  
  margin-right: auto;  
  display: table; /* 确保表格是块级元素 */  
  border-collapse: collapse; /* 使表格的边框合并为一个单一的边框 */  
  border: 1px solid black; /* 为表格设置外边框 */  
}
td, th {
  vertical-align:middle;
  border-left: 1px solid #ddd; /* 左侧边框 */  
  border-right: 1px solid #ddd; /* 右侧边框 */  
  border-top: 1px solid #ddd; /* 顶部边框无 */  
  border-bottom: 1px solid #ddd; /* 底部边框无 */  
}
caption{
  background-color:rgba(9, 71, 80, 0.702);
  font-weight: bold;
  font-family: Arial, sans-serif;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
caption:hover{
  background-color: rgba(9, 71, 80, 0.579);
}
.md-typeset__table{
  margin-left: auto;  
  margin-right: auto;  
  display: table; /* 确保表格是块级元素 */ 
}